.team {
  margin: 0px auto;
  position: relative;
}
.team__sub-title {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.36px;
  text-align: center;
  color: #898f8f;
  margin: 0px auto;
  margin-bottom: 10px;
  margin-top: 112px;
}
.team__heading-1 {
  text-align: center;
  margin-bottom: 40px;
}