* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 main {
     max-width: 1110px;
     margin: 0px auto;
 }

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap");