@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway:400,500|Roboto:900&display=swap');

/*fonts*/
$font-main: 'Roboto', sans-serif;
$font-minor: 'Raleway', sans-serif;
$font-other: 'Open Sans', sans-serif;

//colours
$color-main: #ffcc00;
$color-minor:#333333;
$color-other: #666666;

body {
    font-family: $font-minor;
    color: $color-minor;
    font-weight: 500;
}
::selection {
    background-color: $color-main;
    color: $color-minor;
}
